{% extends "templates/page.html" %}
{% block footer %}
{{ super () }}
<script type="text/javascript">
    function stopServer(){
        console.log("Inside call Stop server ");
        var xhr = new XMLHttpRequest();
        xhr.open("DELETE", "http://proxy-binder-felix.ac.uk:8080/hub/api/users/johnnyfelix/server", true);
        xhr.setRequestHeader("Authorization", "Bearer xz2qKv1yS0izWSiQXvAkmQ");
        xhr.withCredentials = true;
        xhr.onload = function () {
            console.log("API call done!");
        };
        xhr.send();
    }
</script>
{% endblock footer %}

{% block logo  %}
{{ super () }}
<div class="container">
    <div class="btn-group" id="stop-buttons">
        <button id="stop" class="btn-submit" onclick="stopServer()" type="button">Stop Server</button>
    </div>
</div>
{% endblock logo %}